apiVersion: apps/v1
kind: Deployment
metadata:
  name: gitops-nginx
spec:
  replicas: {{ .Values.replicaCount }}  # <--- THIS IS THE MAGIC
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      labels:
        app: nginx
    spec:
      containers:
      - name: nginx
        image: {{ .Values.image.repository }}:{{ .Values.image.tag }}
        ports:
        - containerPort: 80
---
apiVersion: v1
kind: Service
metadata:
  name: gitops-nginx-service
spec:
  type: LoadBalancer
  selector:
    matchLabels:
      app: nginx
  ports:
    - port: 80
      targetPort: 80